html, body {
    height: 150%;
}

.navRadio{
    display: none;
}

.portfolio-body {
    display: grid;
    grid-template-columns: 2fr 1fr 21fr;
}

.navbar {
    display: grid;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: aqua;
}

.sub-navbar {
    display: grid;
    height: 100vh;
    position: sticky;
    top: 0;
}

.aboutMe {
    display: none;
}

.projects {
    display: none;
}

#aboutMeRadioButton:checked ~ * .aboutMe {
    display: grid;
}

#projectsRadioButton:checked ~ * .projects {
    display: grid;
}